*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size:62.5%;
}

li {
  list-style: none;
}

body {
  background-color: #4357AD;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-color: #5FB2DE;
  height: 40.2rem;
}

.header-content{
  display: flex;
  align-items: center;
  margin-left: 8rem;
  margin-top: -8rem;
}

.header-content .logo {
  margin-left: 55px;
  margin-bottom: 3rem;
}

.header-content .bg-img{
  margin-top: 3.1rem;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #8d56fd;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
}

.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
}

.songs-container {
  list-style-type: none;
  padding: 0;
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
  background-color: #4357AD;
}

.song {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 0;
}

.prev-and-next-container h2 {
  font-weight: 300;
}

.prev-and-next-container {
  display: flex;
  justify-content: center;
}

.prev-and-next-container button {
  transform: scale(1.3);
  margin: 15px;
}

.warning-message {
  height: 5rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  opacity: .9;
  color: #EA2234;
  text-align: center;
  font-size: 1.6rem;
}

.song-artist {
  color: white;
  opacity: .6;
  max-width: 400px;
  font-size: 1.6rem;
}

.lyrics-container {
  color: white;
  opacity: .4;
}

.lyrics {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 1.6rem;
}
